extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center")
		h1 Bienvenido a FotoFacilito
		a(href="/login", class="right-space") iniciar sesion
		a(href="/signup") registro