doctype html
html(lang="es")
	head
		title RicardoFacilito
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
		link(href="/public/css/app.css", rel="stylesheet")
		script(src="/socket.io/socket.io.js")
	body
		nav(class="large-padding black white-text")
			ul
				li 
					a(href="/app") Incio
				li 
					a(href="/app/imagenes/new") Subir Imagen
				li 
					a(href="/app/imagenes") Mis Imagenes


		block contenido